


body { 

    margin: auto;
    background-color: rgba(184, 184, 167, 0.168);

}

body h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: rgb(80, 74, 74);
}

body p {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}